<h1 class='page-header'>New User</h1>
<br>
<a class='button' href="<%= new_session_url %>"> Go to sign in</a>
<%# check this %>
<form class="form" action="<%= users_url %>" method='post'>
 <%= auth_token %>
 
 <label class="label-style" for="user_email_address">Email</label>
 <input 
    type="text"
    name="user[email_address]"
    id="user_email_address"
    value = "<%= @user.email_address %>">
<br>

<label class="label-style" for="user_password">Password</label>
<input 
    type="password"
    name="user[password]" 
    id= "user_password"
    value= "<%= @user.password %>">

<input type="submit">
</form>